# Install setup_requires
setuptools>=42
setuptools_scm
wheel
# Testing tools
pytest
yapf==0.24.0
# Specific versions
git+https://github.com/capnproto/pycapnp.git#egg=pycapnp
# Install local package
-e .
